In [46]:
import os
os.system('./update_csv')

32512

In [5]:
import pandas as pd

In [49]:
data = pd.read_csv('params.csv')
included = data['include']==1
params = data.loc[included,['name','min','max']]
params

                            name  min   max
1                        displar  0.4  0.95
2                          dleaf  NaN   NaN
11               baseflow_scalar  NaN   NaN
12  maximum_leaf_wetted_fraction  NaN   NaN

In [78]:
for name,minval,maxval in zip(params['name'],params['min'],params['max']):
    print(name)
    print(minval)
    print(maxval)

displar
0.4
0.95
dleaf
nan
nan
baseflow_scalar
nan
nan
maximum_leaf_wetted_fraction
nan
nan