In [91]:
import os
os.system('./update_csv.sh')

0

In [92]:
data = pd.read_csv('params.csv')
included = data['include']==1
params = data.loc[included,['name','min','max','location']]
params

                            name     min    max location
1                        displar  0.4000  0.950        P
2                          dleaf  0.0081  0.243        P
11               baseflow_scalar  0.0005  0.100        N
12  maximum_leaf_wetted_fraction  0.0100  0.500        N

In [80]:
for name,minval,maxval,loc in zip(params['name'],params['min'],params['max'],params['location']):
    print(name,minval,maxval,loc)

displar 0.4 0.95 P
dleaf nan nan P
baseflow_scalar nan nan N
maximum_leaf_wetted_fraction nan nan N